@media screen and (max-width:1100px){
    .header{
        margin-top: 0;
    }
    .header_info{
        margin-top: 30px;
    }
    .header_info_text{
        margin-right: 0;
    }
}
@media screen and (max-width:900px){
    .content{
        padding: 20px;
    }
    #header_img{
        display: none
    }
    #header_img_2{
        display: block;
        margin-top: 50px;
    }
    .mobile-menu{
        display: flex;
        justify-content: space-between;
        padding: 10px;
    }
    nav{
        display: none;
    }
    .header{
        margin-top: 70px;
    }
    .header_info{
        margin: 0;
    }
    .header_info_text{
        margin-right: 0;
    }
    .section1_cards{
        flex-direction: column;
        display: flex;
        align-items: center;
    }
    .section1_card{
        margin-bottom: 30px;
    }
    #section2_img{
        display: none;
    }
    #section2_img_2{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
    }
    .section2_info{
        margin: 30px 0;
    }
    .section3_card_img1{
        display: none;
    }
    .section3_card_img2{
        display: flex;
        margin: auto;
    }
    .section4_img1{
        display: none;
    }
    .section4_img2{
        display: flex;
        margin: auto;
    }
    .section5{
        flex-direction: column;
        height: 1100px;
        margin: 100px 0;
    }
    .section5_img{
        padding: 0;
    }
    .footer{
        flex-direction: column;
        gap: 10px;
    }
    .footer_1column{
        margin-bottom: 30px;
    }
    .footer_4column{
        margin-top: 30px;
    }
    .footer{
        padding-bottom: 100px;
    }
}
@media screen and (max-width:600px){
    #header_img_2{
        display: none;
    }
    .section2{
        flex-direction: column;
    }
    .section3_nav{
        flex-wrap: wrap;
    }
    .section3_cards{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .section3_card1{
        flex-direction: column;
        width: auto;
    }
    .section3_card2{
        flex-direction: column;
    }
    .section3_card3{
        flex-direction: column;
    }
    .section3_card2{
        display: none;
    }
    .section3_card2_adaptive{
        display: block;
        margin-bottom: 50px;
    }
    .section4{
        flex-direction: column;
    }
    .section6_buttons_input{
        width: 200px;
    }
    .section5{
        height: 1150px;
    }
    .section5_info{
        width: auto;
        margin-top: 50px;
    }
    .section4_info{
        width: auto;
    }
    .footer_link{
        font-size: 14px;
        width: 150px;
    }
    .footer_1column_text{
        font-size: 14px;
    }
    .footer_1folumn_title{
        font-size: 14px;
    }
}